%p hello haml!
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name ログインユーザー
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group グループ作成
          %li.side-header__box__menu__edit ユーザー編集画面
    .groups
      .group
        %p.group__group-name グループ名
        %p.group__group-message グループメッセージ
  .chat-main
    .main-haeder
      .main-haeder__left-box
      %h2.main-haeder__left-box__current-group
      %ul.main-haeder__left-box__menber-list
        member:
        %li.main-haeder__left-box__menber-list__menber グループメンバー
        .main-header__edit-btn
    .massages
      .massage__upper-info
        %p.massage__upper-info__talker 亀野啓佑
        %p.massage__upper-info__date 2019/05/31(Fri) 17:19:09
      .massage__text こんにちは
    .massages
      .massage__upper-info
        %p.massage__upper-info__talker 亀野啓佑
        %p.massage__upper-info__date 2019/05/31(Fri) 17:19:46
      .massage__text さようなら！
    .form
      %form
        %input
        %input
        .input-box
          %input
          %label.input-box__image
        %input.submit-btn





      

